[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "fastapi[standard]>=0.116.1",
    "sty>=1.0.6",
    "tuspyserver>=4.2.3",
    "uvicorn>=0.35.0",
    "wsgidav>=4.3.3",
]
